body {
    background-color: #222222;
}
h1{
    color: #2d93c6;
}
h5,p{
    color: #999999;
}

.btn-primary {
    background: linear-gradient(to bottom,#3298cb,#03699c);
    color:black;
    border:none;
    font-weight: bold;
}

.progress-bar{
    background-color: #2d93c6;
}

.btn-primary:hover{
    background: linear-gradient(to bottom,#43a9dc,#147aad);
    color:black;
    border:none;
    font-weight: bold;
    box-shadow: none;
}

#titlebar-container {
    background-color: black;
    position: relative;
    height: 20px;
    -webkit-app-region: drag;

}

.fa-times {
    position: absolute;
    color: #999999;
    font-size: 16px;
    top: 2px;
    right: 5px;
    -webkit-app-region: no-drag;
}

.fa-window-minimize {
    position: absolute;
    color: #999999;
    top: 6px;
    font-size:11px;
    right: 22px;
    -webkit-app-region: no-drag;
}

.fa-times:hover {
    color: #999999;
    text-shadow: 0 0 5px #ff0000;
}

.fa-window-minimize:hover {
    color: #999999;
    text-shadow: 0 0 5px #0c99ff;
}

.website-link{
    position: absolute;
    font-size:13px;
    bottom: 0px;
    right: 3px;
    cursor: pointer;
    color: #999999;
}

#progress-information-size,#progress-information-time,#progress-information-speed{
    color: #999999;
    font-size:12px;
    margin:0px;
    text-align:center;
}
